/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  /* CSS HEX */
  --neon-blue: #6274e7ff;
  --violet-blue-crayola: #686edcff;
  --violet-blue-crayola-2: #6e69d0ff;
  --blue-violet-crayola: #7563c5ff;
  --blue-violet-crayola-2: #7b5dbaff;
  --royal-purple: #8158aeff;
  --purpureus: #8752a3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Main Styling */
html,
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.contact-us {
  background: linear-gradient(
    90deg,
    hsla(232, 73%, 65%, 1) 0%,
    hsla(279, 33%, 48%, 1) 100%
  );

  color: white;
  font-size: 20px;
  padding: 3rem;
}

/*==== Form Group ====*/

form {
  padding: 3rem;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-group input,
textarea {
  width: 320px;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 4px;
}

textarea {
  width: 500px;
  height: 200px;
}
input.invalid {
  border: 1px solid red;
}

.error-hint {
  color: red;
  font-size: 0.8rem;
}

/*==== Line ====*/
hr {
  height: 1px;

  background: linear-gradient(
    90deg,
    hsla(232, 73%, 65%, 1) 0%,
    hsla(279, 33%, 48%, 1) 100%
  );
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 10;
}

/*==== BTN ====*/

button {
  padding: 10px 15px 10px 15px;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #6e69d0ff;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #6e69d0ff;
  color: white;
}

/*==== Feedback Message ====*/
.hidden {
  display: none;
}

.thank-you {
  margin-top: 150px;
  padding: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #333;
}
